.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: .1fr .1fr .3fr .3fr .2fr .2fr .2fr;
    grid-template-areas: 
    "header" 
    "menu"
    "hero"
    "main"
    "banner"
    "extra"
    "image";    
    gap: 0px 0px;
    
}